$delay: 2s;
$color: #fff;

.frame {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;	
	bottom: 20px;

	.top,
	.right,
	.bottom,
	.left {
		position: absolute;
		background: $color;
	}

	.right {
		right: 0;
		height: 0;
		width: 1px;
		animation:
			$delay borderRightAnimationTop, 
			$delay borderRightAnimationBottom $delay;
	}

	.bottom {
		width: 0;
		height: 1px;
		bottom: 0;
		animation:
			$delay borderBottomAnimationRight $delay * 2,
			$delay borderBottomAnimationLeft $delay * 3;
	}

	.left {
		height: 0;
		width: 1px;
		left: 0;
		animation:
			$delay borderLeftAnimationBottom $delay * 4,
			$delay borderLeftAnimationTop $delay * 5;
	}

	.top {
		height: 1px;
		width: 0;
		animation:
			$delay borderTopAnimationLeft $delay * 5,
			$delay borderTopAnimationRight $delay * 6;
	}
}

@keyframes borderRightAnimationTop {
    0% {
        height: 0;
        top: 0;
    }
    100% {
        height: 100%;
        top: 0;
    }
}

@keyframes borderRightAnimationBottom {
    0% {
        height: 100%;
        bottom: 0;
    }
    100% {
        height: 0;
        bottom: 0;
    }
}

@keyframes borderLeftAnimationTop {
    0% {
        height: 100%;
        top: 0;
    }
    100% {
        height: 0;
        top: 0;
    }
}

@keyframes borderLeftAnimationBottom {
    0% {
        height: 0;
        bottom: 0;
    }
    100% {
        height: 100%;
        bottom: 0;
    }
}

@keyframes borderBottomAnimationRight {
    0% {
        width: 0;
        right: 0;
    }
    100% {
        width: 100%;
        right: 0;
    }
}

@keyframes borderBottomAnimationLeft {
    0% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 0;
    }
}

@keyframes borderTopAnimationRight {
    0% {
        width: 100%;
        right: 0;
    }
    100% {
        width: 0;
        right: 0;
    }
}

@keyframes borderTopAnimationLeft {
    0% {
        width: 0;
        left: 0;
    }
    100% {
        width: 100%;
        left: 0;
    }
}