video {

  &.local {
    filter: grayscale(1) blur(1px);
    @include absolute(bottom 50px right 50px);
    transform: scaleX(-1);
    z-index: 100;
    opacity: 0.5;
  }

  &.remote {
    z-index: 50;
  }
}

.bg-video {
    @include size(auto);
    @include fixed(top 50% left 50%);
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);

    &.is-visible {
      display: block;
    }

    &.is-hidden {
      display: none;
    }
}

.video-canvas {
  display: none;
}
