@font-face {
  font-family: 'example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?#iefix') format('embedded-opentype'),
  url('../fonts/example.woff') format('woff'),
  url('../fonts/example.ttf') format('truetype'),
  url('../fonts/example.svg#otama.epregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
